.anime-enter {
  opacity: 0.01;
  transition: opacity 1s ease-in-out;
}


.anime-enter.anime-enter-active {
  opacity: 1;
}

.anime-leave {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.anime-leave.anime-leave-active {
  opacity: 0.01;
}
