.anime-enter {
  opacity: 0.01;
  height: 0px;
  transition: all 1s ease-in-out
}


.anime-enter.anime-enter-active {
  opacity: 1;
  height: inherit;
}

.anime-leave {
  opacity: 0.01;
  transition: opacity 1s ease-in-out;
}

.anime-leave.anime-leave-active {
  opacity: 0;

}

ul {
  list-style: none;
  height: 57.27px;
}
